---
import AddBook from '../components/AddBook.tsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
				padding: 0;
			}
			body {
				display: grid;
				height: 100vh;
				place-items: center;
			}
		</style>
	</head>
	<body>
		<main>
			<AddBook /> 
		</main>
	</body>
</html>
